
@{
    ViewBag.Title = "Details";
}
<a href="\Home\Index">Home</a> | <a href="\home\AboutUs"> AboutUs</a>|<a href="\Home\ContactUs"> ContactUs</a>|<a href="\Account\Login">Login</a>
<h2>Details</h2>

