
@{
    ViewBag.Title = "Insert";
}

<h2>Insert Workshop Detail</h2>
<form method="post" action="/Faculty/insert">


    <table>
        <tr>
            <td>Topic:</td>
            <td><input type="text" name="Topic" /></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" name="Description" /></td>
        </tr>
        <tr>
            <td>Faculty:</td>
            <td><input type="text" name="Faculty" /></td>
        </tr>
        <tr>
            <td>Location:</td>
            <td><input type="text" name="Location" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" /></td>
        </tr>
    </table>
</form>

