
@{
    ViewBag.Title = "AboutUs";
}

<h2>AboutUs</h2>
<a href="\Home\Index">Home</a> | <a href="\home\AboutUs"> AboutUs</a>|<a href="\Home\ContactUs"> ContactUs</a>|<a href="\Account\Login">Login</a>
<center>
    <fieldset style="width:fit-content;height:fit-content;border-block-style:outset">
        <h1>Information</h1>
        <pre style="color:rebeccapurple">
        <h2>Name: Pooja </h2>
        <h2>Gender:Female</h2>

</pre>
    </fieldset>
</center>
