
@{
    ViewBag.Title = "ContactUs";
}

<h2>ContactUs</h2>
<a href="\Home\Index">Home</a> | <a href="\home\AboutUs"> AboutUs</a>|<a href="\Home\ContactUs"> ContactUs</a>|<a href="\Account\Login">Login</a>
<h1>My Contact No: 1234567891</h1>
