
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h1>Welcome to My World's</h1>
<hr />
<a href="\Home\Index" >Home</a> | <a  href="\home\AboutUs"> AboutUs</a>|<a href="\Home\ContactUs"> ContactUs</a>|<a href="\Account\Login">Login</a>
<ol>
    <li>Books</li>
    <li>Pens</li>
    
</ol>