@{
    ViewData["Title"] = "About us Page";
}

<div class="text-center">
    <h1 class="display-4">About us</h1>
    <p>Doing Ordinary Things extra ordinarily</p>
    <p>Transflower Learning Pvt. Ltd.</p>
</div>
