@{
    ViewData["Title"] = "Contact page";
}

<div class="text-center">
    <h1 class="display-4">Contact us</h1>
    <p>Email: ravi.tambade@transflower.in</p>
    <p>Contact Number:9881735801</p>
</div>
