
@{
    ViewBag.Title = "Insert";
}

<h2>Insert Workshop Detail</h2>
<form method="post" action="/Faculty/insert">


    <table>
        <tr>
            <td>Topic:</td>
            <td><input type="text" name="topic" /></td>
        </tr>
        <tr>
            <td>Topic Desc:</td>
            <td><input type="text" name="topicd" /></td>
        </tr>
        <tr>
            <td>Presenter Name:</td>
            <td><input type="text" name="presenter" /></td>
        </tr>
        <tr>
            <td>Location:</td>
            <td><input type="text" name="location" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" /></td>
        </tr>
    </table>
</form>

