@{
    ViewData["Title"] = "Index Page";
}

<div class="text-center">
    <h1 class="display-4">Todays Flowers for Sale</h1>
    <hr/>
   <ol>
    <li> <a href="/products/details/1">Gerbera</a></li>
    <li><a href="/products/details/2">Rose</a></li>
    <li><a href="/products/details/3">Marigold</a></li>
   
   </ol>
</div>
